---
layout: layout.njk
title: My No so Super Rad Liquid Blog Post
---
<h1>{{ title }} is awesome</h1>

<img src="./img/morris.png">

<div class="project-grid">
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
</div> 
