---
layout: layout.njk
title: My No so Super Rad Liquid Blog Post
---
<img src="./img/morris.png">

<div class="project-grid">
	<div class=""><a href="./projects/adobe"><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href="./projects/alertlogic"><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
	<div class=""><a href=""><img src="./img/project.png" alt="project" /></a></div>
</div> 
